# Turn mod_rewrite on
RewriteEngine On

#Modify Urls for Page Navigation
RewriteRule ^Home?$ index.php [NC,L]

RewriteRule ^Contact?$ contact.php [NC,L]
RewriteRule ^Advertise?$ advertise.php [NC,L]

#Blog Category pages
RewriteRule ^Category/([^/]+)?/?([a-zA-Z0-9\-]+)$ cat_posts.php?id=$1&name=$2 [NC,L]

#Blog pages
RewriteRule ^Post/([^/]+)?/?([a-zA-Z0-9\-]+)$ view_post.php?id=$1&name=$2 [NC,L]
